<aside class="pages-index-why">
  <h2>Remove chaos and get more done</h2>
  <div>7 opinioned adviced we stick to</div>

  <div class="left">
    <div><img src="/public/iconpack/hierarchical-structure.png" alt="icon" /></div>
    <section>
      <h3>One less thing to worry about</h3>
      <p>There are no updates, servers, troubles or maintenance with Bearicorn. Less you have on your mind, more you spend with actual work. </p>
    </section>
  </div>

  <div class="right">
    <div><img src="/public/iconpack/monitor-2.png" alt="icon" /></div>
    <section>
      <h3>You decide when work and when reply</h3>
      <p>Own your time by deciding, when to reply and when to deep focus for work. Your productivity should not be defined by notifications.</p>
    </section>
  </div>

  <div class="left">
    <div><img src="/public/iconpack/monitor-4.png" alt="icon" /></div>
    <section>
      <h3>Share ideas only to people who need it</h3>
      <p>An idea is born in one team, designed in another and executed often within a totally different one. We made it easy.</p>
    </section>
  </div>

  <div class="right">
    <div><img src="/public/iconpack/screen.png" alt="icon" /></div>
    <section>
      <h3>Benefits over features</h3>
      <p>People need a hole in their wall, not a drill. Every single feature must fight to justify its existence to minimize overhead.</p>
    </section>
  </div>

  <div class="left">
    <div><img src="/public/iconpack/coding.png" alt="icon" /></div>
    <section>
      <h3>Aligning way of working</h3>
      <p>Replace Slack chats, email threads, Jira tickets and Asana dashboard with one simple dashboard by aligning way of working.</p>
    </section>
  </div>

  <div class="right">
    <div><img src="/public/iconpack/browser-14.png" alt="icon" /></div>
    <section>
      <h3>Work from anywhere</h3>
      <p>Take a thousand people from different time-zones and your will quickly find out if tool you use is effective enough.</p>
    </section>
  </div>

  <div class="left">
    <div><img src="/public/iconpack/checking.png" alt="icon" /></div>
    <section>
      <h3>Perfectionism is for robots</h3>
      <p>We if spend an hour daily in software, it rather be pleasant and cute. Rather be 95% and happy than 100% effective and sad.</p>
    </section>
  </div>
</aside>
